<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script
          src="https://code.jquery.com/jquery-3.7.1.js"
          integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
          crossorigin="anonymous"></script>
</head>
<body class="max-w-[1024px]  mx-auto relative text-gray-700 mb-12">
<header class="sticky top-0 left-0 right-0 z-50 flex justify-between items-center px-8 py-6 bg-teal-600 text-white lg:px-12 rounded-b-md">
  <a href="/">Student Management System</a>
  <nav class="flex gap-6">
    <a class="px-2 py-1 rounded-md hover:bg-gray-500/75 transition-colors" href="/">
      Student
    </a>
    <a class="px-2 py-1 rounded-md hover:bg-gray-500/75 transition-colors" href="/courses">
      Course
    </a>
  </nav>
</header>
<main class="width mt-6 px-4">
  <h1 class="font-bold text-3xl">
    Courses
  </h1>
  <p class="text-sm font-medium text-gray-500">Course Details ID [[${courseId}]]</p>
  <input type="hidden" th:value="${courseId}" id="courseId"/>

  <form class="create-form w-fit flex flex-col mt-8">
    <div class="flex items-center justify-between w-[340px]">
      <label for="name">Name</label>
      <input class="py-1 px-2 rounded-lg w-[220px] shadow-md" id="name" name="name"  required/>
    </div>
    <div class="flex items-center justify-between w-[340px] mt-4">
      <label for="lecture">Lecture</label>
      <input class="py-1 px-2 rounded-lg w-[220px] shadow-md" id="lecture" name="name" required/>
    </div>
    <div class="flex items-center justify-between w-[340px] mt-4">
      <label for="year">Year</label>
      <input type="number" min="1990" max="2100" class="py-1 px-2 rounded-lg w-[220px] shadow-md" id="year" name="year"  required/>
    </div>
    <div class="flex items-center justify-between w-[340px] mt-4">
      <label for="notes">Note</label>
      <textarea class="py-1 px-2 rounded-lg w-[220px] shadow-md" id="notes" name="name" placeholder="Enter notes" rows="3"></textarea>
    </div>

    <button class="bg-teal-600 text-white px-4 py-2 rounded-xl mt-6 mx-auto right-1/2">
      Update
    </button>
  </form>

  <div class="mt-10">
    <p>Students enrolled this course</p>
    <form class="relative w-fit mt-4">
      <input class="search-input bg-slate-100 py-2 rounded-3xl flex-1 pl-4 pr-10
                       focus:shadow-lg focus:outline-none transition-shadow focus:rounded-b-none transition-all duration-400" placeholder="Search student to add to this course">
      <button class="absolute right-4">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <div class="student-list hidden w-full absolute top-[100%] bg-slate-100 max-h-[200px] overflow-scroll rounded-b-3xl">
        <ul class="filtered-student">
        </ul>
      </div>
    </form>
    <table class="table-fixed max-w-[800px] min-w-[600px] mx-auto bg-slate-50 rounded-lg mt-4 overflow-hidden">
      <thead>
      <tr class="bg-gray-200">
        <th scope="row" class="py-2 font-medium">ID</th>
        <th scope="row" class="py-2 font-medium">Name</th>
        <th scope="row" class="py-2 font-medium">Grade</th>
        <th scope="row" class="py-2 font-medium">Actions</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</main>

<div class="add-student hidden">
  <div class="bg-black/40 fixed top-0 right-0 left-0 bottom-0"></div>
  <div class="bg-slate-50 w-fit rounded-xl fixed bottom-[50%] right-[50%] translate-x-1/2 translate-y-1/2 px-6 py-4">
    <h3 class="text-lg font-medium mb-8">Confirm</h3>

    <button class="close-create-form absolute right-4 top-4">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <p>
      Do you really want to add this student to this course?
    </p>

    <form class="add-student-form">
      <div class="flex items-center justify-between w-[340px] mt-4">
        <label for="grade">Grade (Optional)</label>
        <input type="number" step="0.05" class="shadow-md py-1 px-2 rounded-lg w-[200px]" id="grade" name="grade"/>
      </div>

      <button class="add-btn bg-teal-600 text-white px-4 py-2 rounded-xl mt-6 mx-auto w-full">
        Add
      </button>
    </form>
  </div>
</div>

<div class="add-student hidden">
  <div class="bg-black/40 fixed top-0 right-0 left-0 bottom-0"></div>
  <div class="bg-slate-50 w-fit rounded-xl fixed bottom-[50%] right-[50%] translate-x-1/2 translate-y-1/2 px-6 py-4">
    <h3 class="text-lg font-medium mb-8">Confirm</h3>

    <button class="close-create-form absolute right-4 top-4">
      <i class="fa-solid fa-xmark"></i>
    </button>

    <p>
      Do you really want to add this student to this course?
    </p>

    <form class="add-student-form">
      <div class="flex items-center justify-between w-[340px] mt-4">
        <label for="grade">Grade (Optional)</label>
        <input type="number" step="0.05" class="shadow-md py-1 px-2 rounded-lg w-[200px]" id="grade" name="grade"/>
      </div>

      <button class="add-btn bg-teal-600 text-white px-4 py-2 rounded-xl mt-6 mx-auto w-full">
        Add
      </button>
    </form>
  </div>
</div>

</body>

<script>
  let courseId;
  let selectedStudent = 0;
  const handleSubmitCreateForm = async (e) => {
    e.preventDefault();
    const name = document.querySelector("#name");
    const lecture = document.querySelector("#lecture");
    const year = document.querySelector("#year");
    const notes = document.querySelector("#notes");

    const body = JSON.stringify({
      id: courseId,
      name: name.value,
      lecture: lecture.value,
      year: year.value,
      notes: notes.value,
    });

    const response = await fetch(`/api/courses/${courseId}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body,
    });

    const data = await response.json();

    alert(`Updated course successfully with id ${data.data?.id}`);
  }

  const handleRemoveStudent = async (e) => {
    e.stopPropagation();

    const studentId = e.currentTarget.dataset.studentid;

    await fetch(`/api/courses/${courseId}/students/${studentId}`, {
      method: "DELETE",
    })

    document.querySelector(`tr[data-studentid="${studentId}"]`).remove();

    alert("Deleted student from this course successfully")
  }

  const handleAddStudent = (e) => {
    selectedStudent = e.currentTarget.dataset.studentid;

    document.querySelector(".add-student").classList.remove("hidden");
  }

  const loadData = async (keyword) => {
    const res = await fetch(`/api/courses/${courseId}/available-students?keyword=${keyword}`)
    const data = await res.json();

    document.querySelector(".filtered-student").innerHTML =
            data.data.map(
                    (student) => (
                            `<li class="flex gap-4 px-2 py-2 hover:bg-gray-200/50 cursor-pointer" onmousedown="handleAddStudent(event)" data-studentid="${student.id}">
                               <span class="filteredId">${student.id}</span>
                               <span class="filteredName">${student.name}</span>
                             </li>`
                    )
            ).join("\n");
  }

  const handleSubmitStudent = async (e) => {
    e.preventDefault();
    e.stopPropagation();

    let grade = document.querySelector("#grade").value;

    if(grade === "") {
      grade = null;
    } else {
      grade = Number.parseFloat(grade);
    }

    await fetch(`/api/courses/${courseId}/add-student`, {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        grade,
        studentId: selectedStudent,
        courseId
      })
    })

    alert("Added student to this course successfully");

    await loadCourseData();
    document.querySelector(".add-student").classList.add("hidden");


    document.querySelector("#grade").value = "";

  }

  const handleUpdateStudent = async (event) => {
    const studentId = event.currentTarget.dataset.studentid;

    const newGrade = document.querySelector(`input[data-studentid="${studentId}"]`).value;

    await fetch(`/api/courses/${courseId}/students/${studentId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        studentId,
        courseId,
        grade: newGrade
      })
    })

    alert("Updated student's grade successfully");
  }
  async function loadCourseData() {
    const res = await fetch(`/api/courses/${courseId}`);
    const data = await res.json();

    const course = data?.data;

    document.querySelector("#name").value = course.name;
    document.querySelector("#lecture").value = course.lecture;
    document.querySelector("#year").value = course.year;
    document.querySelector("#notes").value = course.notes;

    document.querySelector(".create-form").addEventListener("submit", handleSubmitCreateForm)

    const table = document.querySelector("tbody");
    table.innerHTML = course.students.map((student) =>
            `<tr
                class="even:bg-gray-100 hover:bg-teal-200/75 hover:cursor-pointer transition-colors duration-300"
                data-studentid="${student.id}"
             >
                <td class="w-2/12 text-center">${student.id}</td>
                <td class="w-4/12 text-center">${student.name}</td>
                <td class="w-3/12 text-center"><input class="w-[80px] bg-transparent p-1 rounded-md shadow-md" data-studentid="${student.id}" value="${student.grade.toFixed(2)}" /></td>
                <td class="w-1/12">
                    <div class="flex w-full justify-center items-center">
                        <button  data-studentid="${student.id}" onclick="handleRemoveStudent(event)">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                        <button class="ml-4" data-studentid="${student.id}" onclick="handleUpdateStudent(event)" data-studentid="${student.id}">
                            <i class="fa-solid fa-rotate-right"></i>
                        </button>
                    </div>
                </td>
            </tr>`
    ).join("\n");
  }
</script>
<script>

  let hasFocused = false;


  document.addEventListener('DOMContentLoaded', async (e) => {

    courseId = document.querySelector("#courseId").value;

    await  loadCourseData();

    document.querySelector(".search-input").addEventListener("input", async (e) => {
      console.log(e.currentTarget.value)
      let keyword = e.currentTarget.value;
      await loadData(keyword);
    });

    document.querySelector(".search-input").addEventListener("focus", async (e) => {
      document.querySelector(".student-list").classList.remove("hidden");

      if(!hasFocused) {
          const res = await fetch(`/api/courses/${courseId}/available-students`)
          const data = await res.json();
          const keyword = document.querySelector(".search-input").value;

         await loadData(keyword)

         hasFocused = true;
      }
    })

    document.querySelector(".search-input").addEventListener("blur", () => {
      setTimeout(() => {
        document.querySelector(".student-list").classList.add("hidden");
      }, 0)
    })

    document.querySelector(".close-create-form").addEventListener('click', () => {
      document.querySelector(".add-student").classList.add("hidden");
    })

    document.querySelector(".add-student-form").addEventListener('submit', handleSubmitStudent)

  });

</script>
</html>